:root {

  --main-black-bg: rgba(27, 27, 27, 0.883);

  --main-bg-color: rgb(5, 129, 5);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.section-main {
  background-color: var(--main-bg-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.main-footer {
  align-items: center;
  background-color: var(--main-bg-color);
  bottom: 0;
  color: white;
  display: flex;
  height: 3px;
  justify-content: center;
  padding: 20px;
  position: fixed;
  width: 100%;
}

.main-footer button {
  background-color: inherit;
  border: none;
  font-style: italic;
  font-weight: 900;
  margin-right: 15px;
}

.main-footer button:hover {
  cursor: pointer;
}

.main-footer button img {
  color: white;
  height: 30px;
  width: 30px;
}
